{% extends "base_generic.html" %} 
{% block content %}
<h1>Author List</h1>
{% if author_list %}
<ul>
  {% for author in author_list %}
  <li>
    <a href="{{ author.get_absolute_url }}">{{ author.first_name }}</a>({{author.last_name}})
  </li>
  <a href="{% url 'author-create' %}"  class="btn btn-primary active">Create Author</a>
  <a href="{% url 'author-delete' author.pk %}"  class="btn btn-danger">Delete Author</a>
  <a href="{% url 'author-update' author.pk %}" class="btn btn-warning">Update Author</a>
{% endfor %}
</ul>  

{% else %}
<p>There are no authors for the specific book in the library</p>
{% endif %} 

{% endblock %}
